
.mainCard {
  margin-bottom: 1rem;
  /* padding: 1rem; */
  width: 95%;
  min-width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  background-color: #bfff80;
  color: black;
  width: 90vw;
  text-align: center;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid #1a1a1a;
}
.iconButn {
  background-color: #bfff80;
  color: black;
  border: none;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
}
.iconButn:hover {
  color: gray;
  cursor: pointer;
}
.dayNamesRow {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dayOfWk {
  background-color: #59b300;
  color: black;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 1rem;
  border: 1px solid #1a1a1a;
  border-bottom: 1px solid gray;
  flex: 1;
  text-align: center;
}

.dayRow {
  width: 90vw;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.cellBase {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.25rem;
  border: 1px solid #1a1a1a;
  flex-basis: 14.28%;
  flex-grow: 1;
  /* text-align: center; */
  position: relative;
  min-height: 100px;
  white-space: pre-wrap;
}
.dayNum {
  text-decoration: underline;
  /* position: absolute;
  top: -1px;
  left: -1px;
  border: 2px solid #1a1a1a;
  padding: 0.25rem;
  margin-bottom: 2rem; */
}

.brightCell {
  color: black;
  background-color: #bfff80;
}
.brightCell:hover {
  background-color: #80ff00;
}
.darkCell {
  color: #a6ff4d;
  background-color: #333333;
}
.darkCell:hover {
  background-color: #595959;
}
.deadCell {
  background-color: #1a1a1a;
  color: #1a1a1a;
}
