@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

.mainCard {
  margin: 1rem;
  padding: 1rem;
  width: 95%;
  min-width: 95vw;
  height: 100%;
  min-height: 80vh;
  /* border: 2px solid #4d4d4d;
  background-color: #262626; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appTitle {
  font-family: 'Odibee Sans', cursive;
  font-size: 4rem;
  letter-spacing: 0.2rem;
  margin: 0;
}
.appSubtitle {
  margin-top: 0.1rem;
  font-size: 2rem;
}

.optionCard {
  border: 1px solid #4d4d4d;
  background-color: black;
  padding: 0.5rem;
  min-width: 30vw;
  margin: 1rem;
  transition: all 0.5s ease;
}
.optionCard:hover {
  background-color: #4d4d4d;
}
.optionCard a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.optionCard h3 {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}
.imgBG {
  background-color: #a6ff4d;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0.5rem;
}
.imgBG > i {
  color: black;
  font-size: 2.5rem;
  margin-left: 0.25rem;
}
